.floating0 {
    margin-left: -10rem;
    margin-top: -25rem;
}
.floating1 {
    margin-top: 15rem;
    margin-left: -22rem;
}
.floating {
    margin-top: -10rem;
    margin-left: 16rem;
    
}

@media screen and (max-width: 1366px) {
  .floating0 {
    margin-left: -15rem;
    margin-top: -25rem;
}
  .floating1 {
    margin-top: 15rem;
    margin-left: -20rem;
}
  .floating {
    margin-top: -8rem;
    margin-left: 6rem;
}

}

@media screen and (max-width: 500px) {
    .floating {
      visibility: hidden;
      clear: both;
      display: none;
    }
    .floating0 {
      visibility: hidden;
      clear: both;
      display: none;
    }
    .floating1 {
      visibility: hidden;
      clear: both;
      display: none;
    }
   
}