.w-right {
    position: relative;
}

.w-mainCircle {
    left: 9rem;
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    box-shadow: var(--smboxShadow);
    top: 2rem;
    background: white;
    z-index: 2;
}

.w-mainCircle>* {
    position: absolute;
}

.w-mainCircle> :nth-child(1) {
    top: -3rem;
    left: 6rem;
}

.w-mainCircle> :nth-child(2) {
    left: -3rem;
    top: 5rem;
}

.w-mainCircle> :nth-child(3) {
    left: 6rem;
    top: 5rem;
}

.w-mainCircle> :nth-child(4) {
    left: 15rem;
    top: 5rem;
}

.w-mainCircle> :nth-child(5) {
    left: 6rem;
    top: 13rem;
}

@media screen and (max-width: 375px) {
    .card {
      margin-top: -10rem;
    }
  }