.btn {
    background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 11px 26px 11px 26px;
  }
  
.btn:hover {
    background: white;
    cursor: pointer;
    border: 1px solid var(--yellow);
    color: var(--yellow);
}

.navbarColor {
  color: white;
}

.navbarColor:active {
    color: red;

}