:root
{
    /* --yellow: #46bd55; */
    --yellow: #01aa4f;
    /* --yellow: #F5C32C; */
    --orange : #FCA61F;
    --green: #46bd55;
    --darkgreen: #058003;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}


html {
    height: 100%;
}

.App {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sticky-footer {
    position: sticky;
    top: 100%;
}

.g-btn {
    background: linear-gradient(180deg, #01aa4f 26.71%, #01aa4f 99.36%);
    box-shadow: 0px 20px 24px 3px var(--black);
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 11px 26px 11px 26px;
  }

.g-btn:hover {
    background: white;
    cursor: pointer;
    border: 1px solid var(--yellow);
    color: var(--yellow);
}

.y-btn {
    background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 11px 26px 11px 26px;
  }
  
.y-btn:hover {
    background: white;
    cursor: pointer;
    border: 1px solid var(--yellow);
    color: var(--yellow);
}

.blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(212px);
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);
}

.cursor-pointer {
    cursor: pointer;
}


@media screen and (max-width: 500px) {
    .blur {
        visibility: hidden;
        clear: both;
        display: none;
    }
   
}